.highlight{
    outline:5px solid #29487d;
}
.getScreenshot{
    padding: 12px;
    margin: 12px auto;
    display: block;
    background-color:#4267b2;
    border:none;
    color:white;
    text-align: center;
    text-decoration: none;
    
}
